fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
xgboost
shap
scikit-learn
pandas
numpy
joblib
optuna
imbalanced-learn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1